:root {
    --teal: #028391, /*Primary*/
    --sandyBrown:  #FAA968, /*Secondary*/
    --giantsOrange: #F85525, /*Pary*/
    --peachYellow: #F6DCAC, /*Light Mode*/
    --oxfordBlue: #01204E /*Dark Mode*/
    }
    
